<section class="bg-center bg-no-repeat bg-[url('https://images.unsplash.com/photo-1627645812426-67ce7b0a7a81?q=80&w=1548&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')] bg-gray-700 bg-blend-multiply h-screen">
  <div class="px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-56">
      <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl">Welcome to my Entry test!</h1>
      <p class="mb-8 text-lg font-normal text-gray-300 lg:text-xl sm:px-16 lg:px-48">As test was asked to create a dynamic gallery and a quiz, take a look at my works</p>
      <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0">

          <a routerLink="/gallery" class="inline-flex justify-center hover:text-gray-900 items-center py-3 px-5 sm:ms-4 text-base font-medium text-center text-white rounded-lg border border-white hover:bg-gray-100 focus:ring-4 focus:ring-gray-400">
              Gallery
          </a>
          <a routerLink="/quiz" class="inline-flex justify-center hover:text-gray-900 items-center py-3 px-5 sm:ms-4 text-base font-medium text-center text-white rounded-lg border border-white hover:bg-gray-100 focus:ring-4 focus:ring-gray-400">
              Quiz
          </a>
      </div>
  </div>
</section>




<footer class="fixed bottom-0 left-0 z-20 w-full p-4 bg-slate-700 border-t border-gray-200 shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800 dark:border-gray-600">
  <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">Made by Giovanni Scarantino
  </span>
  <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
      <li>
          <a href="https://github.com/giov-scar" target="_blank" class="hover:underline me-4 md:me-6">GitHub</a>
      </li>
      <li>
          <a href="https://www.linkedin.com/in/giovanni-scarantino-frontend-dev/" target="_blank" class="hover:underline me-4 md:me-6">LinkedIn</a>
      </li>
  </ul>
</footer>
